.relatedproduct{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
   
}

.relatedproduct h1{
    color:#171717;
    font-size: 40px;
    font-weight: 600;
}

.relatedproduct hr{
    width: 200px;
    height:6px;
    border-radius:10px;
    background: #252525;
}

.relatedproducts-item{
    margin-top: 30px;
    margin-bottom: 70px; 
    display: flex;
    gap:30px;
}

@media(max-width:1280px){
 .relatedproduct {
    height: 70vh; 
  }

  .relatedproduct h1{
    font-size: 30px;
  }

  .relatedproduct hr{
    width: 120px;
    height: 3px;
  }

  .relatedproducts-item{
    gap:15px;
    margin-top:20px;
  }
}

@media(max-width:1024px){
  .relatedproduct{
   height: 60vh; 
  }

  .relatedproduct h1{
    font-size: 30px;
  }

  .relatedproduct hr{
    width: 120px;
    height: 3px;
  }

  .relatedproducts-item{
    gap:15px;
    margin-top:20px;
  }
}


@media(max-width:800px){
  .relatedproduct{
    height: auto;           
    gap: 6px; 
    padding-bottom: 40px;  
  }

  .relatedproduct h1{
    font-size: 20px;
  }

  .relatedproduct hr{
    width: 100px;
  }

  .relatedproducts-item{
    gap:5px;
  }
}




@media(max-width:500px){
  .relatedproduct{
  height: auto;           
    padding-bottom: 40px;   
  }

  .relatedproducts-item{
   display:grid;
   grid-template-columns: 1fr 1fr;
   gap:20px;
  }
}



